cloudpickle==3.1.2
colorama==0.4.6
iniconfig==2.3.0
joblib==1.6.0
narwhals==2.26.0
numpy==2.5.3
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
python-dotenv==1.2.3
ruff==0.16.8
scikit-learn==1.9.1
scipy==1.18.1
setuptools==84.0.0
threadpoolctl==3.7.0
tree-sitter==0.26.0
tree-sitter-c==0.24.2
wheel==0.48.0
